<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-4 float-left">
        <button class="btn btn-primary mb-3" (click)="createGame()" >Crear juego</button>
      </div>
      <div class="col-4">
        <button class="btn2 btn-primary mb-3" routerLink="/view-score">Ver puntuaciones</button>
      </div>
      <div class="col-4 float-right">
        <button class="btn3 btn-primary mb-3" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>

  <h2 class="text-center mt-5">Partidas disponibles</h2>
  <h3 class="text-center">{{ games.length }}</h3>
  <p class="text-center">{{ gigaerror }}</p>

  <ul class="list-group">
    <li *ngFor="let game of games" class="list-group-item">
      {{ game.player1 }}ink
      <button class="btn btn-success float-right" (click)="joinGame(game.id.toString())">Join</button>
    </li>
  </ul>
</div>