.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.list-group-item {
  margin-top: 10px;
}

/* Estilos para los botones */
.btn {
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #218838;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  background-color: #117a8b;
  border-color: #117a8b;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #bd2130;
  border-color: #bd2130;
}

/* Animación de fondo */
.background-animation {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/src/assets/videos/barco2.gif') center center fixed;
  background-size: cover;
}

/* Centrado del contenido */
.text-center {
  text-align: center;
}
