<nav class="navbar">
    <div class="container-custom d-flex">
        <!-- Left side -->
        <div class="d-flex">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="../../assets/images/logo.png" alt="Logo" width="50" height="45">
                <h2 class="w-letters ms-4">GameShock</h2>
            </a>
        </div>

        <!-- Right side -->
        <div class="d-flex align-items-center">
            <!-- De button.component.html-->
            <app-button [buttonText]="'Ingresar'"></app-button>
            <app-button [buttonText]="'Registrarse'" class="ms-3"></app-button>
        </div>
    </div>
</nav>


