<nav class="navbar" *ngIf="mostrarNavbar()">
  <div class="container-custom d-flex justify-content-center"> <div class="d-flex">
      <a class="navbar-brand d-flex align-items-center " href="#">
        <img src="../../assets/images/logo.png" alt="Logo" width="50" height="50">
        <h2 class="w-letters ms-2s"> battleship</h2>
      </a>
    </div>

    <div class="d-flex align-items-center">
      <app-button [buttonText]="'Ingresar'" routerLink="/ingreso" routerLinkActive="active"></app-button>
      <app-button [buttonText]="'Registrarse'" class="ms-3" routerLink="/registro" routerLinkActive="active" ></app-button>
    </div>
  </div>
</nav>
