nav{
    background-color: #0D98BA;
    color: white;
    width: 100% !important;
    border-bottom: solid 1px #536c7e;
}

.container-custom{
    margin: 0;
    width: 100% !important;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

/*Utility*/
.w-letters{
    color: white;
    font-size: 30px;
}

.space-evenly-important{
    justify-content: space-evenly;
}
.container-custom {
  display: grid;
  grid-template-areas:
    "left right";
}

[grid-area="left"] {
  order: 1; /* Place the left side first */
}

[grid-area="right"] {
  order: 2; /* Place the right side second */
}
