<div class="table-custom table-hover table-borderless">
    <table class="table-custom">
        <thead>
          <tr>
            <th *ngFor="let campo of campos">{{ campo }}</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datos">
            <td *ngFor="let campo of campos">{{ item[campo] }}</td>
            <td>
              <button *ngFor="let boton of botonesAccion"
              (click)="boton.accion(usuario)"
              class="btn {{ boton.clase }}">
        {{ boton.nombre }}
      </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
