nav{
    background-color: #0D98BA;
    color: white;
    width: 100% !important;
    border-bottom: solid 1px #536c7e;
}

.dropdown-container{
    width: 50% !important;
    justify-content: space-between;
}

.dropdown-toggle{
    color: white;
}

.dropdown-menu{
    background-color: #0D98BA !important;
    color: white !important;
    border: solid 1px #536c7e;
}

.dropdown-item{
    color: white !important;
}

.dropdown-item:hover{
    background-color: #536c7e !important;
}

.container-custom{
    margin: 0;
    width: 100% !important;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

/*Utility*/
.w-letters{
    color: white;
    font-size: 30px;
}

.space-evenly-important{
    justify-content: space-evenly;
}

.dropdown-menu.vertical-align {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
