<nav class="navbar">
    <div class="container-custom d-flex">
        <!-- Left side -->
        <div class="d-flex">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="../../assets/images/logo.png" alt="Logo" width="50" height="50">
                <h2 class="w-letters ms-4">Game Shock</h2>
            </a>
        </div>

        <!-- Dropdowns -->
        <div class="d-flex align-items-center dropdown-container">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownProductos" data-bs-toggle="dropdown" aria-expanded="false">
                    Productos
                </button>
                <ul class="dropdown-menu align-items-start" aria-labelledby="dropdownProductos">
                    <li><a class="dropdown-item" href="#">Inventario</a></li>
                    <li><a class="dropdown-item" routerLink="/dashboard/categorias/categorias" routerLinkActive="active">Categorías</a></li>
                    <li><a class="dropdown-item" routerLink="/dashboard/plataformas/plataformas" routerLinkActive="active">Plataformas</a></li>
                    <li><a class="dropdown-item" routerLink="/dashboard/productos/productos" routerLinkActive="active">Productos</a></li>
                </ul>
            </div>
            
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownPedidos" data-bs-toggle="dropdown" aria-expanded="false">
                    Pedidos
                </button>
                <ul class="dropdown-menu align-items-start" aria-labelledby="dropdownPedidos">
                    <li><a class="dropdown-item" href="#">Pedidos</a></li>
                    <li><a class="dropdown-item" routerLink="/dashboard/compras/compras" routerLinkActive="active">Compras</a></li>
                    <li><a class="dropdown-item" routerLink="/dashboard/envios/envios" routerLinkActive="active">Envíos</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownInteracciones" data-bs-toggle="dropdown" aria-expanded="false">
                    Interacciones
                </button>
                <ul class="dropdown-menu align-items-start" aria-labelledby="dropdownInteracciones">
                    <li><a class="dropdown-item" routerLink="/dashboard/comentarios/comentarios" routerLinkActive="active">Comentarios</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn  dropdown-toggle" type="button" id="dropdownUsuarios" data-bs-toggle="dropdown" aria-expanded="false">
                    Usuarios
                </button>
                <ul class="dropdown-menu align-items-start" aria-labelledby="dropdownUsuarios">
                    <li><a class="dropdown-item" routerLink="/dashboard/usuarios" routerLinkActive="active">Usuarios</a></li>
                    <li><a class="dropdown-item" href="#">Carritos</a></li>
                </ul>
            </div>
        </div>


        <!-- Right side -->
        <div class="d-flex align-items-center">
            <!-- De button.component.html-->
            <app-button [buttonText]="'Salir'" routerLink="/ingreso" routerLinkActive="active"></app-button>
        </div>
    </div>
</nav>

