
<section class="gifback" src="/src/assets/images/water.gif">
  <p>
    <mat-toolbar style="background-color: blueviolet">
      <span style="color: greenyellow">
        <h1>Battleship</h1>
      </span>
    </mat-toolbar>
  </p>
  <div class="container">
    <div style="display: flex" class="titulo">
      <h2>Jugador 1</h2>
      <h1 style="color: blueviolet; text-underline-offset: 23">VS</h1>
      <h2>Jugador 2</h2>
    </div>
    <div class="texto">

      <h2>Tu tablero</h2>
    </div>
    <div style="width: fit-content;">
    <div  class="row row-guides">
      <div class="col"></div>
      <div class="col guide-col" *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7]">
        {{ col + 1 }}
      </div>
    </div>
    <div [style.opacity]=" win === 1 ? ' z-index: 0.2': '1'" class="row" *ngFor="let row of tiles; let rowIndex = index">
      <div class="col guide-col">
        {{ getLetterFromIndex(rowIndex) }}
      </div>
      <div class="col" *ngFor="let tile of row">
        <img class="img-fluid pixelated" [src]="tile" alt="Barco" />
      </div>
    </div>
  </div>
    <br />

    <div class="texto">
      <h2>Tablero contrario</h2>
    </div>
    <div class="texto">
      <h3>Presiona donde deseas atacar</h3>
    </div>
    <br />
    <div [style.opacity]=" win === 1 ? ' z-index: 0.2': '1'">
      <div
        style="margin: 10px"
        class="row row-guides"
        *ngFor="let row of enemyTiles; let rowIndex = index"
      >
        <div class="col guide-col">
          {{ getLetterFromIndex(rowIndex) }}
        </div>
        <div
          style="margin: 6px"
          class="col"
          *ngFor="let tile of row; let colIndex = index"
        >

          <button mat-button  (click)="handleClick(rowIndex, colIndex)">
            <img
              class="img-fluid pixelated"
              src="assets/images/oceantile.jpeg"
              alt="Casillero vacío"
            />
          </button>
        </div>
      </div>
    </div>
    <br />
    <div *ngIf="hit === 1 " [@showHideAnimation]="showDiv">
      <!-- <h1>Hit</h1>
</div> -->
      <div  [@showHideAnimation]="showDiv">
        <div
          class="card"
          style="
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
          "
        >
          <div class="card-body"  [@showHideAnimation]="showDiv">
            <blockquote class="blockquote mb-12" style="font-size: xx-large">
              <p>Hit </p>
              <footer class="blockquote-footer">
                <cite title="Source title">Golpearon uno de tus barcos</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="hit == 1.5 " [@showHideAnimation]="showDiv">
      <!-- <h1>Hit</h1>
</div> -->
      <div  [@showHideAnimation]="showDiv">
        <div
          class="card"
          style="
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
          "
        >
          <div class="card-body"  [@showHideAnimation]="showDiv">
            <blockquote class="blockquote mb-12" style="font-size: xx-large">
              <p>Hit </p>
              <footer class="blockquote-footer">
                <cite title="Source title">Golpeaste un  barco</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="hit === 0" [@showHideAnimation]="showDiv">
      <div
        class="card mb-12"
        style="
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translate(-50%, -50%);
        "
      >
        <div class="card-body">
          <h4 class="card-title" style="font-size: xx-large">miss</h4>
          <p class="card-text">El ataque no daño a nadie</p>
        </div>
      </div>
    </div>
    <div *ngIf="win === 1">
      <!-- <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 100px;">WINNER</h1> -->
      <div
      class="card"
      style="
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <div class="card-body">
        <blockquote class="blockquote mb-12" style="font-size: xx-large">
          <p>winner</p>
          <footer class="blockquote-footer">
            <cite class="m-8" title="Source title">Por fin lo  consegiste </cite>
            <h1 class="m-2"></h1>
            <button class=" m-2 btn btn-lg btn-success" routerLink="/view-score" [@buttonHover]="true">regresar</button>

          </footer>
        </blockquote>
      </div>
    </div>
    </div>

    <div *ngIf="win === 0">

      <div
      class="card"
      style="
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <div class="card-body">
        <blockquote class="blockquote mb-12" style="font-size: xx-large">
          <p>losser</p>
          <footer class="blockquote-footer">
            <cite class="m-8" title="Source title">Perdiste, no hay mas que hacer</cite>
            <h1 class="m-2"></h1>
            <button class=" m-2 btn btn-lg btn-success" routerLink="/view-score" >Regresar</button>

          </footer>
        </blockquote>
      </div>
    </div>

    </div>

    <div *ngIf="turno === 0" [@showHideAnimation]="showDiv">

      <div
      class="card"
      style="
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <div class="card-body">
        <blockquote class="blockquote mb-12" style="font-size: xx-large">
          <p>No es tu turno </p>
          <footer class="blockquote-footer">
            <h1 class="m-2"></h1>
            <cite class="m-8" title="Source title">espera tu turno </cite>
          </footer>
        </blockquote>
      </div>
    </div>

    </div>

    <div *ngIf="turno === 1" [@showHideAnimation]="showDiv">

      <div
      class="card"
      style="
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <div class="card-body">
        <blockquote class="blockquote mb-12" style="font-size: xx-large">
          <p>Tu turno </p>
          <footer class="blockquote-footer">
            <h1 class="m-2"></h1>
            <cite class="m-8" title="Source title">Aprovecha tu turno </cite>
          </footer>
        </blockquote>
      </div>
    </div>

    </div>


  </div>
</section>
