<app-navbar-dash></app-navbar-dash>
<div class="d-flex justify-content-center mt-5">
    <form class="form-container" [formGroup]="productoForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" formControlName="name" class="form-control bg-transparent" id="name">
            <div *ngIf="productoForm.get('name')?.invalid && (productoForm.get('name')?.dirty || productoForm.get('name')?.touched)"
                 class="alert alert-danger">
                <div *ngIf="productoForm.get('name')?.errors?.['required']">El nombre es requerido.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <input type="text" formControlName="description" class="form-control bg-transparent" id="description">
        </div>
        <div class="form-group">
            <label for="price">Precio</label>
            <input type="text" formControlName="price" class="form-control bg-transparent" id="price">
        </div>
        <div class="form-group">
            <label for="category">Categoría</label>
            <select formControlName="category_id" class="form-control bg-transparent" id="category">
                <option *ngFor="let category of allCategories" [value]="category.id">{{ category.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="platform">Plataforma</label>
            <select formControlName="platform_id" class="form-control bg-transparent" id="platform">
                <option *ngFor="let platform of allPlatforms" [value]="platform.id">{{ platform.name }}</option>
            </select>
        </div>
        <button type="submit" class="btn">Agregar Producto</button>
    </form>
    <div class="error-container ms-4" style="width: 20%">
        <div *ngIf="mensaje" class="alert alert-success" role="alert">
            {{ mensaje }}
        </div>
    </div>
</div>
