.form-container{
  border: none;
  padding: 20px;
  border-radius: 10%;
  margin-left: 21%;
}

::placeholder {
  color: white;
}

i{
  color: white;
}

.form-group{
  border-radius: 35px!important;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 25px;

}

input{
  color: white !important;
  border: none;
}

.btn{
  background-color: #1e64f9 !important;
  color: white;
  border-radius: 35px !important;
  width: 100%;
}
