<app-navbar-dash></app-navbar-dash>
<div class="d-flex justify-content-center mt-5">
    <form class="form-container" [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" class="form-control bg-transparent" id="name">
        </div>
        <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" formControlName="phone" class="form-control bg-transparent" id="phone">
        </div>
        <div class="form-group">
        <label for="rol">Rol:</label>
        <select formControlName="rol" class="form-control bg-transparent" id="rol">
            <option value="administrator">Administrador</option>
            <option value="guest">Invitado</option>
            <option value="user">Usuario</option>
        </select>
        </div>
        <button type="submit" class="btn">Guardar cambios</button>
    </form>
    <div class="error-container ms-4" style="width: 20%">
        <div *ngIf="usuarioForm.get('name')?.invalid && (usuarioForm.get('name')?.dirty || usuarioForm.get('name')?.touched)" class="alert alert-danger">
            <div *ngIf="usuarioForm.get('name')?.errors?.['required']">El nombre es requerido.</div>
            <div *ngIf="usuarioForm.get('name')?.errors?.['minlength']">El nombre debe tener al menos 4 caracteres.</div>
            <div *ngIf="usuarioForm.get('name')?.errors?.['maxlength']">El nombre debe tener máximo 20 caracteres.</div>
        </div>
        <div *ngIf="usuarioForm.get('phone')?.invalid && (usuarioForm.get('phone')?.dirty || usuarioForm.get('phone')?.touched)" class="alert alert-danger">
            <div *ngIf="usuarioForm.get('phone')?.errors?.['required']">El teléfono es requerido.</div>
            <div *ngIf="usuarioForm.get('phone')?.errors?.['pattern']">El teléfono debe ser numérico.</div>
            <div *ngIf="usuarioForm.get('phone')?.errors?.['minlength']">El teléfono debe tener exactamente 10 dígitos.</div>
            <div *ngIf="usuarioForm.get('phone')?.errors?.['maxlength']">El teléfono debe tener exactamente 10 dígitos.</div>
        </div>
        
    </div>
</div>

